{% extends 'base.html' %}

{% block head %}
<title>Blunder Scout</title>
{% endblock %}

{% block body %}
    <div class="aligned">
        <img src="{{ url_for('static', filename='blunder_scout.png') }}">
    </div>
    <h3 class="simple_text">Correct a random blunder from a previous game</h3>

    <div class="form_container">
        <form action="blunders" method="post" class="form">
            {% for message in get_flashed_messages() %}
                 <p class="simple_text">{{ message }}</p>
             {% endfor %}
            <input type="text" name="name_input" placeholder="your chess.com username">
            <input type="submit" value="SUBMIT" id="greet" onclick="func">
        </form>
    </div>

    <script type="text/javascript">
    function func(){
        document.getElementById("greet").getElementsByTagName("input")[1].value = 'property set';
        console.log("updating....")
    }  
    </script>

{% endblock %}
